In [5]:
import pandas as pd
df = pd.read_csv('DelayedFlights.csv')
df.info()
print(df)

#En cada caso basarÃ­a mi elecciÃ³n de columnas segÃºn la aplicaciÃ³n que quiera darle a la informaciÃ³n
#Como no hay ningÃºn propÃ³sito definido, me voy a quedar con las columnas FlightNum,ArrDelay, DepDelay, Origin, Dest
#La justificaciÃ³n, porque es la informaciÃ³n mÃ¡s basica e interesante para cualquier lector

df.loc[:,['FlightNum','ArrDelay', 'DepDelay', 'Origin', 'Dest']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0                 0  2008      1           3          4   2003.0        1955
1                 1  2008      1           3          4    754.0         735
2                 2  2008      1           3          4    628.0         620
3                 4  2008      1           3          4   1829.0        1755
4                 5  2008      1           3          4   1940.0        1915
...             ...   ...    ...         ...        ...      ...         ...
1936753     7009710  2008     12          13          6   1250.0        1220
1936754     7009717  2008     12          13          6    657.0         600
1936755     7009718  2008     12          13          6   1007.0         847
1936756     7009726  2008     12          13          6   1251.0        1240
1936757     7009727  2008     12          13          6   1110.0        1103

         ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0         2211.0        2225            WN  ...     4.0     8.0          0
1         1002.0        1000            WN  ...     5.0    10.0          0
2          804.0         750            WN  ...     3.0    17.0          0
3         1959.0        1925            WN  ...     3.0    10.0          0
4         2121.0        2110            WN  ...     4.0    10.0          0
...          ...         ...           ...  ...     ...     ...        ...
1936753   1617.0        1552            DL  ...     9.0    18.0          0
1936754    904.0         749            DL  ...    15.0    34.0          0
1936755   1149.0        1010            DL  ...     8.0    32.0          0
1936756   1446.0        1437            DL  ...    13.0    13.0          0
1936757   1413.0        1418            DL  ...     8.0    11.0          0

         CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                       N         0           NaN           NaN      NaN
1                       N         0           NaN           NaN      NaN
2                       N         0           NaN           NaN      NaN
3                       N         0           2.0           0.0      0.0
4                       N         0           NaN           NaN      NaN
...                   ...       ...           ...           ...      ...
1936753                 N         0           3.0           0.0      0.0
1936754                 N         0           0.0          57.0     18.0
1936755                 N         0           1.0           0.0     19.0
1936756                 N         0           NaN           NaN      NaN
1936757                 N         0           NaN           NaN      NaN

        SecurityDelay  LateAircraftDelay
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 0.0               32.0
4                 NaN                NaN
...               ...                ...
1936753           0.0               22.0
1936754           0.0                0.0
1936755           0.0               79.0
1936756           NaN                NaN
1936757           NaN                NaN

[1936758 rows x 30 columns]

         FlightNum  ArrDelay  DepDelay Origin Dest
0              335     -14.0       8.0    IAD  TPA
1             3231       2.0      19.0    IAD  TPA
2              448      14.0       8.0    IND  BWI
3             3920      34.0      34.0    IND  BWI
4              378      11.0      25.0    IND  JAX
...            ...       ...       ...    ...  ...
1936753       1621      25.0      30.0    MSP  ATL
1936754       1631      75.0      57.0    RIC  ATL
1936755       1631      99.0      80.0    ATL  IAH
1936756       1639       9.0      11.0    IAD  ATL
1936757       1641      -5.0       7.0    SAT  ATL

[1936758 rows x 5 columns]